<?xml version="1.0" encoding="utf-8"?>

<!--
  Дополнительные сведения по настройке приложения ASP.NET см. по ссылке
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
    <system.web>
        <compilation debug="true" targetFramework="4.0" />
    </system.web>

    <system.serviceModel>
        <behaviors>
            <endpointBehaviors>
                <behavior name="resttt.Service1AspNetAjaxBehavior">
                    <webHttp />
                </behavior>
            </endpointBehaviors>
        </behaviors>
        <serviceHostingEnvironment aspNetCompatibilityEnabled="true"
            multipleSiteBindingsEnabled="true" />
        <services>
            <service name="resttt.Service1">
                <endpoint address="" behaviorConfiguration="resttt.Service1AspNetAjaxBehavior"
                    binding="webHttpBinding" contract="resttt.Service1" />
            </service>
        </services>
    </system.serviceModel>
</configuration>
